body{
	background-image: url("./cloud.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}	


h1{
	font-size: 40px;
	text-align: center;
	margin-bottom: 1%;
}

.jukebox_buttons{
	margin-left: 40%;
}

.JukeBox{
	margin-top: 1%;
}

.css-artwork{
	margin: 0 auto;
}

.css-audio-title{
	text-align: center;	
}


.playlist{
	margin-top: 1%;
}

.track.active,
.track:hover {
  background: #bcbcbc;
}
